*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  color: #111;
  margin: 0;
  min-width: 320px;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* #region Header */

.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 23.5px;
  padding-bottom: 17.5px;
}
.logo-span {
  font-style: italic;
}

.logo-icon-span {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  stroke: #fd9222;
  stroke-width: 1.8px;
  fill: #fcf1e0;
}
.nav {
  display: none;
}

.media-list {
  display: none;
}

.menu-btn {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 14px;
}
.menu-icon {
  stroke-width: 2px;
  stroke: #111;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  .logo-link {
    padding: 29.5px 0;
  }

  .nav-list {
    display: flex;
    gap: 24px;
    margin-right: 48px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding: 32px 0;
  }

  .media-list {
    display: flex;
    gap: 18px;
  }

  .media-link {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .media-icon {
    stroke-width: 2px;
    stroke: #111;
    fill: transparent;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 18px;
    line-height: 1.11;
    padding: 28px 0;
  }

  .logo-icon-span {
    width: 24px;
    height: 24px;
  }

  .logo-icon {
    width: 21px;
    height: 24px;
  }
  .nav-list {
    margin-right: 90px;
  }
}

/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #1e1823;
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/mob/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/mob2x/hero@2x.jpg);
  }
}

.hero-container {
  padding: 395px 40px 20px 40px;
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-wrapper {
  display: flex;
  gap: 32px 14px;
  flex-wrap: wrap;
}

.hero-btn {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 41px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
}
.made-link {
  border: 1px solid #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 159px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.scroll-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}
.mark-container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mark-icon {
  fill: #fd9222;
}

/* #endregion Hero */
