*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  color: #111;
  margin: 0;
  min-width: 320px;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* #region Header */

.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 23.5px;
  padding-bottom: 17.5px;
}
.logo-span {
  font-style: italic;
}

.logo-icon-span {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  stroke: #fd9222;
  stroke-width: 1.8px;
  fill: #fcf1e0;
}
.nav {
  display: none;
}

.media-list {
  display: none;
}

.menu-btn {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 14px;
}
.menu-icon {
  stroke-width: 2px;
  stroke: #111;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  .logo-link {
    padding: 29.5px 0;
  }

  .nav-list {
    display: flex;
    gap: 24px;
    margin-right: 48px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding: 32px 0;
  }

  .media-list {
    display: flex;
    gap: 18px;
  }

  .media-link {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .media-icon {
    stroke-width: 2px;
    stroke: #111;
    fill: transparent;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 18px;
    line-height: 1.11;
    padding: 28px 0;
  }

  .logo-icon-span {
    width: 24px;
    height: 24px;
  }

  .logo-icon {
    width: 21px;
    height: 24px;
  }
  .nav-list {
    margin-right: 90px;
  }
}

/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #1e1823;
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/mob/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 375px;
  margin: 0 auto;
  color: #fff;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/mob2x/hero@2x.jpg);
  }
}

.hero-container {
  padding: 395px 40px 20px 40px;
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  margin-bottom: 32px;
}

.hero-wrapper {
  display: flex;
  gap: 32px 14px;
  flex-wrap: wrap;
  align-items: center;
}

.hero-btn {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 41px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;

  border: none;
}
.made-link {
  border: 1px solid #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 159px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
}
.scroll-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}
.mark-container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mark-icon {
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/tab/hero-tab.jpg);
    max-width: 768px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/tab2x/hero-tab@2x.jpg);
    }
  }

  .hero-container {
    padding: 671px 72px 40px 72px;
  }

  .hero-title {
    font-size: 28px;
    max-width: 460px;
  }

  .hero-btn {
    min-width: 144px;
    height: 45px;
  }

  .made-link {
    min-width: 183px;
    height: 45px;
  }

  .scroll-link {
    font-size: 14px;
    line-height: 1.29;
    margin-left: auto;
  }

  .mark-container {
    width: 38px;
    height: 38px;
  }

  .mark-icon {
    width: 18px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/desk/hero-desk.jpg);
    max-width: 1200px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/desk2x/hero-desk@2x.jpg);
    }
  }

  .hero-container {
    padding-top: 381px;
  }
}

/* #endregion Hero */

/* #region Benefits */
.benefits {
  margin-top: 60px;
  background-color: #1e1823;
  color: #fff;
  padding: 20px 0;
}

.benefits-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.icon-container {
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-icon {
  fill: #fd9222;
}
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.benefits-item-text {
  max-width: 308px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .benefits {
    margin-top: 40px;
    padding: 50px 0;
  }

  .benefits-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
  }

  .benefits-list-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    margin-top: 72px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 70px;
  }

  .benefits-list-item {
    width: calc((100% - 140px) / 3);
    position: relative;
  }

  .benefits-list-item:not(:last-child):after {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

/* #endregion Benefits */

/* #region Ingredients */

.ingridients {
  padding: 60px 0;
}

.ingridients-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 283px;
}
.title-span {
  color: #fd9222;
}
.ingridients-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 32px;
}
.ingridients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingridients-list-item {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  height: 270px;
}

.ingridients-list-item:first-child .ingridients-wrapper {
  background-color: #fd9222;
  color: #fff;
}

.ingridients-list-item:nth-child(3n) .ingridients-wrapper {
  background-color: #1e1823;
  border-color: transparent;
  color: #fff;
}

.ingridients-img {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.ingridients-wrapper {
  padding: 27px;
  border: 1px solid #fd9222;
  border-radius: 15px;
}

.card {
  position: absolute;
  padding: 28px;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.ingridients-list-item:hover .card {
  transform: translateY(0);
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.card-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.ingridients-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .ingridients {
    padding: 80px 0;
  }
  .ingridients-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 411px;
    margin-bottom: 28px;
  }

  .ingridients-text {
    margin-bottom: 50px;
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
  }

  .ingridients-list {
    max-height: 572px;
    flex-wrap: wrap;
    gap: 32px;
  }

  .ingridients-list-item {
    width: calc((100% - 32px) / 2);
  }

  .ingridients-list-item:nth-child(3n) {
    transform: translateY(302px);
  }

  .ingridients-list-item:last-child {
    transform: translateY(-302px);
  }
}

@media screen and (min-width: 1200px) {
  .ingridients {
    padding: 100px 0;
  }

  .ingridients-list {
    flex-direction: row;
    gap: 19px;
  }

  .ingridients-list-item {
    width: calc((100% - 19px * 3) / 4);
  }

  .ingridients-list-item:last-child,
  .ingridients-list-item:nth-child(3n) {
    transform: unset;
  }

  .ingridients-img {
    width: 206px;
    height: 160px;
    margin-bottom: 36px;
  }

  .card {
    overflow: auto;
  }
}

/* #endregion Ingredients */

/* #region Recipe */

.recipe-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.recipe-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.recipe-content {
  padding: 0 14px;
}
.recipe-content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}
.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.recipe-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  position: relative;
}

.recipe-item-text::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  position: absolute;
  top: 5px;
  left: -16px;
}

@media screen and (min-width: 768px) {
  .recipe-container {
    padding: 0 77px;
  }

  .recipe-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .recipe-wrapper {
    gap: 52px;
  }

  .recipe-content {
    padding: 0 32px;
  }

  .recipe-content-title {
    margin-bottom: 28px;
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .recipe-container {
    padding: 0 32px;
  }

  .recipe-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .recipe-content {
    max-width: 516px;
  }

  .recipe-img {
    width: 600px;
  }

  .recipe-list {
    gap: 24px;
  }
}
/* #endregion Recipe */
